.main_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: none;
    background-color: #fbfbfb;
}

.div_img {
    height: 100%;
    width: 130px;
    margin: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}











