.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.card {
    position: relative;
    width: 320px; /* Ajustado para um pouco mais de espaço */
    height: 220px;
    border-radius: 10px;
    border: 2px solid #d32f2f; /* Borda vermelha */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #fceded;
}

.cardTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    z-index: 1;
}

.cardSubtitle {
    font-size: 16px;
    color: #666;
    margin-top: 8px;
    z-index: 1;
}

.cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s;
}


.cardOverlay h1,
.cardOverlay p {
    color: white;
    z-index: 2;
}