/* Containers principais */
.mainContainer {
    width: 100%;
    padding: 2rem;
}

/* Seção Sobre */
.aboutSection {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    border-bottom: 3px solid #aa0404;
}

.aboutText {
    flex: 1;
}

.aboutText h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #444;
}

.aboutText p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

.aboutImage {
    flex: 1;
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 200px;
}

/* Seção Valores */
.valuesSection {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    border-bottom: 3px solid #aa0404;
}

.valueCard {
    flex: 1;
    text-align: center;
    padding: 1.5rem;
}

.icon {
    font-size: 2rem;
    color: #aa0404;
    margin-bottom: 1rem;
}

.valueCard p {
    font-size: 1rem;
    color: #555;
}

/* Seção Feedback */
.feedbackSection {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.iconLarge {
    font-size: 4rem;
    color: #aa0404;
    margin-right: 1rem;
}

.feedbackContent {
    flex: 1;
}

.feedbackContent h1 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #444;
}

.feedbackInput {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.submitButton {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    background-color: #ff4b4b;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #aa0404;

}


.title {
    text-align: left;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 4%;
}

.titleRed {
    color: #d32f2f;
    font-size: 3.5rem;
}

.titleBlack {
    color: #212121;
    font-size: 2.2rem;
    margin-left: 8px;
    font-weight: 500;
}