.confronto {
    height: 19rem;
    background-color: white;
    width: 45%;
    -webkit-box-shadow: 0px 15px 32px -3px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 15px 32px -3px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 15px 32px -3px rgba(0, 0, 0, 0.51);
    margin: 3rem 0;
    border-radius: 2.5%;
}

.date_container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.icons_container {
    display: flex;
    justify-content: space-between;

}

.icon {
    margin: 0 0.75rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: #767676;
    transition: color 0.3s ease;
}

.containerEmpate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.icon:hover {
    color: #dd2929;
}

.date {
    font-size: 1.2rem;
    color: #767676;
}

.time_container {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    align-items: center;
    justify-content: space-evenly;

}

.group_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.group {
    font-size: 3.5rem;
    color: #767676;
}

.versus {
    font-size: 1.5rem;
    font-weight: bold;

}

.confronto_containerBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
}

.confronto_container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.time_container {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    align-items: center;
    justify-content: space-evenly;
}

.group_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.group {
    font-size: 3.5rem;
    color: #767676;
}

.crown {
    font-size: 2rem;
    color: gold;
    position: absolute;
    top: -1.5rem;
    right: -0.5rem;
    transform: rotate(45deg);
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: baseline;
}

.exitButton {
    padding: 10px 20px;
    background-color: #dd2929;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    left: 9rem;
}

.saveButton {
    padding: 10px 20px;
    background-color: #838383;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    right: 9rem;
}

.sla {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sla h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    position: relative;
    left: 2rem;
}

.buttonsContainer {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    right: 3rem;

}

.winButton {
    padding: 6px 12px;
    background-color: #dd2929;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.drawButton {
    padding: 6px 12px;
    background-color: #838383;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}