.container {
  background-color: #fff;
  padding: 1rem;
}


.cardEquipe {
  text-align: center;
  padding-top: 1.5rem;
  flex-direction: wrap;

}

.linha {
  width: 90%;
  background-color: #AF0000;
  height: 0.375rem;
  border: none;
  margin: 1.25rem auto;
}

.div_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardImg,
.backImg {
  border-radius: 0.625rem;
  width: 100%;
  max-width: 22.5rem;
  margin: 1rem auto;
  padding: 1rem;
}

.fotoEquipe {
  border-radius: 5%;
  width: 130%;
  height: 130%;
}



.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  position: relative;
  top: 6rem;

}

.fotoMembro{
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  margin: 1.5rem;
}

.card{
  width: 27rem;
  height:27rem;
  background-color: #ffffff;
  border-radius: 10%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 49px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 49px -4px rgba(0,0,0,0.75);
caixa-sombra: 0px 0px 49px -4px rgba(0,0,0,0.75);
}

.linha {
  width: 10rem;
  background-color: #AF0000;
  height: 0.3rem;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.nomeMembro {
  font-size: 1.2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-weight: bold;

}

.textMembro{
  font-size: 0.9rem;
  text-align: center;
  width: 20rem;
  color: #727272;
  margin-top: 0.7rem;
}

.texts_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon_containerweb{
    display: flex;
    gap: 5px;
    margin: 0.3rem;
}