/* CadastroPopup.css */

.popupoverlay {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupcontent {
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 8px;
  width: 70rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
  text-align: center;
}

.popupcontent h2 {
  margin-bottom: 15px;
}

.popupcontent label { 
  margin-bottom: 5px;
}


.popupcontent select,
.cadastro {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.cadastro{
  cursor: pointer;
  border: none;
  color: white;
  padding: 8px;
}

.cadastro {
  background-color: hsl(0, 39%, 49%);
  margin-bottom: 10px;
}

.cadastro {
  width: 25%;
  padding: 13px;
  background-color: #C72828;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5%;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.participantes{
  width: 90%;
  margin-bottom: 0.7rem;
}

.labelpart{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.participantes_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.X {
  margin-left: 98%;
  border: none;
  background: none;
}