.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 3%;
  margin-top: 5%;
}

.title {
  text-align: left;
  margin-right: 20%;
  margin-bottom: 4%;
  margin-top: 2%;

}

.titleRed {
  color: #d32f2f;
  font-size: 3.5rem;
}

.titleBlack {
  color: #212121;
  font-size: 2.2rem;
  margin-left: 8px;
  font-weight: 500;
}

#logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profileButton {
  background-color: transparent;
  color: black;
  border: 2px solid;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 1rem;
  right: 1rem;

}

.formdiv2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
}


.formdiv2 label {
  margin-bottom: 0.5%;
  font-weight: bold;
  font-family: 'Questrial', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: rgb(122, 120, 120);

}

.formdiv2 input {
  padding: 8px;
  box-sizing: border-box;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: rgb(179, 179, 179);
  border-width: 0.15rem;
  outline: none;
  width: 20rem;
  font-family: 'Questrial', sans-serif;
  margin-bottom: 5rem;

}

.formdiv1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}


.formdiv1 label {
  margin-bottom: 0.5%;
  font-weight: bold;
  font-family: 'Questrial', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: rgb(122, 120, 120);
}

.formdiv1 input {
  padding: 8px;
  box-sizing: border-box;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: rgb(179, 179, 179);
  border-width: 0.15rem;
  outline: none;
  width: 50rem;
  font-family: 'Questrial', sans-serif;
}

.formdiv3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
  margin-left: 10rem;
}

.formdiv3 label {
  margin-bottom: 0.5%;
  font-weight: bold;
  font-family: 'Questrial', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: rgb(122, 120, 120);
}

.formdiv3 input {
  padding: 8px;
  box-sizing: border-box;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: rgb(179, 179, 179);
  border-width: 0.15rem;
  outline: none;
  width: 20rem;
  font-family: 'Questrial', sans-serif;
}

.profileButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

.submitButton {
  width: 25%;
  padding: 13px;
  background-color: #C72828;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5%;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

}

.submitButton:hover {
  background-color: #861515;

}

.txt {
  font-family: 'Questrial', sans-serif;
  color: rgb(122, 120, 120);
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.txt1 {
  font-family: 'Questrial', sans-serif;
  color: rgb(122, 120, 120);
  font-size: 22px;
  margin-top: 2rem;
  margin-right: 25rem;
}

.backButton {
  background-color: #f0f0f0;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.backButton:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}

.divdatas {
  display: flex;
}

.img {
  margin-top: 28rem;
  margin-left: -9rem;
}

@media (max-width: 768px) {
  .add {
    display: none;
    /* Ocultar em telas menores que 768px */
  }
}