@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  font-family: 'Questrial', sans-serif;
  font-weight: normal;
  background-color: #fbfbfb;
}