.homeContainer {
  font-family: Arial, sans-serif;
  color: #333;
}

.heroSection {
  position: relative;
  background-image: url('../../assets/imagens/hometopo.png');
  /* Substitua pela URL da sua imagem na pasta public */
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.blur {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0);
  height: 90vh;
}

.logo {
  background-image: url('../../assets/imagens/logo.png');
  background-size: cover;
  background-position: center;
  height: 22vh;
  width: 22vh;
  margin-top: 2rem;
}

.heroTitle {
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;

}

.p {
  font-size: 2px;
}

.heroOverlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;

}

.heroContent {
  text-align: center;
  color: white;
}

.heroContent h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.heroContent p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 1rem;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.linhavermelha {
  background-color: rgb(197, 10, 10);
  width: 100%;
  height: 4px;

}

.welcomeSection {
  padding: 2rem;
  text-align: left;
  margin-bottom: 3%;
}

.welcomeSection h2 {
  font-size: 2rem;
  padding-top: 6%;
}

.highligext {
  color: red;
  font-weight: bold;
}


.championshipsManagement {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.championshipCard {
  position: relative;
  width: 50%;
  height: 65vh;
  border-top-left-radius: 6%;
  border-bottom-right-radius: 6%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.championshipCard:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}

.trophyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url('../../assets/imagens/trophy-image.jpg');
  background-size: cover;
  background-position: center;
}

.p2 {
  font-size: 50px;
}

.icon {
  color: white;
  font-size: 10px;
  display: flex;
  float: right;
}

.cardContent {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;

}

.emptyCard {
  width: 30%;
  border-top-left-radius: 6%;
  border-bottom-right-radius: 6%;
  background-image: url('../../assets/imagens/chat.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  position: relative;
  /* Adicionado */
}

.emptyCard::before {
  content: '';
  position: absolute;
  top: 0;
  border-top-left-radius: 6%;
  border-bottom-right-radius: 6%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adicionado para escurecer a imagem */
  z-index: 1;
}

.emptyCard>* {
  position: relative;
  z-index: 2;
}

.emptyCard:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: rgba(170, 4, 4, 0.9);
}

.pcard2 {
  font-size: 3.5rem;
  color: white;
  text-align: left;
  margin-left: 10px;
}


.icon2 {
  color: white;
  font-size: 10px;
  align-self: flex-end;
}

.sobrecard {
  width: 30%;
  border-top-left-radius: 6%;
  border-bottom-right-radius: 6%;
  background-image: url('../../assets/imagens/gpdoscria.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  position: relative;
}

.sobrecard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 6%;
  border-bottom-right-radius: 6%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.sobrecard>* {
  position: relative;
  z-index: 2;
}

.sobrecard:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: rgba(170, 4, 4, 0.9);
}

.pcard2 {
  font-size: 3.5rem;
  color: white;
  text-align: left;
  margin-left: 10px;
}


.icon2 {
  color: white;
  font-size: 10px;
  align-self: flex-end;
}