.main_container {
    width: 100%;
    font-family: "Arial", sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f9f9f9;
}


.header_container {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}



.header_image {
    position: relative;
    z-index: 1;
    bottom: 10rem;
    width: 100%;
    height: auto;
}



.about_section,
.benefits_section {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text_container {
    flex: 1;
    padding: 1rem;
}

.text_container h1,
.text_container h2 {
    color: #ad0000;
    margin-bottom: 1rem;
}

.text_container p {
    margin-bottom: 1rem;
}



.benefits_section h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #ad0000;
}

.benefits_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.benefit_card {
    flex: 1;
    max-width: 300px;
    text-align: center;
    background-color: #fafafa;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 2px solid transparent;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.benefit_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    border-color: #ad0000;
}

.benefit_card:hover h3 {
    color: #000;
}


.benefit_card::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    background-color: #ad0000;
    border-radius: 50%;
}

.title {
    font-size: 3rem;
    color: #ad0000;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.benefit_card h3 {
    margin-top: 1rem;
    color: #ad0000;
    font-size: 1.2rem;
}

.icon {
    font-size: 3rem;
    color: #ad0000;
    transition: color 0.3s ease;
}

.benefit_card:hover .icon {
    color: #000;
}

.benefit_card p {
    color: #666;
    font-size: 0.9rem;
    margin-top: 0.8rem;
}


.benefit_card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about_section {
    width: 90%;
    margin: auto;
    margin-bottom: 7rem;
    padding: 2rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.about_section:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.p_text {
    font-size: 1.4rem;
    color: #666;
    margin-bottom: 1rem;
    margin-bottom: 5rem;
    margin-left: 6rem;
    width: 70%;
    margin-top: 1rem;

}

.hero_section {
    display: flex;
}

.aapm {
    border-radius: 10px;
margin: auto;
    padding-right: 3rem;
}

.redline {
    height: 0.3rem;
    background: #ad0000;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
}

.redline1 {
    height: 0.3rem;
    background: #ad0000;
    margin-left: 1.7rem;
    margin-bottom: 3rem;
}

@media (max-width: 800px) {

    /* Ajustando o layout da hero_section (imagem e texto) */
    .hero_section {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .aapm {
        display: none;
    }

    .p_text {
        font-size: 1.0rem;
        /* Ajuste de fonte para leitura em telas menores */
        width: 90%;
        text-align: center;
        /* Centraliza o texto */
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }

    .title {
        font-size: 2rem;
        /* Ajuste para tamanhos menores */
        margin-left: 0;
        text-align: center;
    }

    /* Ajuste das seções sobre a AAPM e benefícios */
    .about_section,
    .benefits_section {
        width: 95%;
        margin: 2rem auto;
        padding: 1.5rem;
    }

    .text_container h1,
    .text_container h2 {
        font-size: 2rem;
        /* Ajuste para títulos */
    }

    .benefits_container {
        display: block;
        text-align: center;
    }

    .benefit_card {
        width: 100%;
        max-width: 350px;
        margin: 1rem auto;
        padding: 1.5rem;
    }

    .benefit_card h3 {
        font-size: 1.1rem;
        /* Ajuste do tamanho da fonte */
    }

    .benefit_card p {
        font-size: 0.9rem;
        margin-top: 1rem;
    }

    .icon {
        font-size: 2rem;
        /* Ajuste no tamanho dos ícones */
    }

    /* Ajustes no texto do sobre a AAPM */
    .text_container p {
        font-size: 1rem;
        /* Tamanho de texto para dispositivos menores */
        text-align: center;
    }

    /* Ajustes na linha vermelha entre seções */
    .redline {
        width: 90%;
        /* Reduz a largura da linha para dispositivos menores */
        margin: 0 auto;
    }

    /* Ajustes no layout geral */
    .main_container {
        padding: 2rem;
    }

    .text_container h1 {
        color: #ad0000;
        font-size: 2rem;
        /* Ajuste para tamanhos menores */
        margin-left: 0;
        text-align: center;
    }
}