.main_container {
    width: 100%;
    background-color: #f7f7f7;
}

.firstIMG_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background-color: transparent;
}

.img {
    width: 100%;
    height: 50rem;
    object-fit: cover;
    background-color: gray;
}

.linhavermelha {
    background-color: rgb(197, 10, 10);
    width: 90%;
    height: 4px;
    align-items: center;
  
  }

.about_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    background-color: transparent;
}

.info_about_container {
    width: 75%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: transparent;
}

.info_about_container h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
    background-color: transparent;
}

.info_about_container h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
    background-color: transparent;
}

.img_about_container {
    width: 25%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem;
    border-radius: 10%;
}

.MVV_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border: solid 0.25rem #ad0000;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    background-color: transparent;
}

.iconMVV {
    padding: 2rem;
    width: 30%;
    margin: 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    
}

.icon {
    width: 50%;
    height: 50%;
    object-fit: cover;
    color: #ad0000;
    background-color: transparent;
}

.iconMVV p {
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
}




.Aapm_container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    padding: 3rem;
    width: 98%;
    background-color: transparent;
}

.Aapm_text {
    width: 100%;
    background-color: transparent;
}

.Aapm_text input {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1em;
    width: 100%;
    text-decoration: none;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    
}

.feedback_text h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
    background-color: transparent;
}
.imagem{
    width: 25rem;
    height: auto;
}

.imagem2{
    width: 25rem;
    height: auto;
    border-radius: 30px;
}

.paragrafo{
    margin-top: 10px;
}


